/bin/
*.exe
*.test
*.out
cover.out
coverage.*

.env
.env.*
!.env.example

.idea/
.vscode/

.terraform/
*.tfstate
*.tfstate.*
deploy/terraform/localstack/wager-sender.keys
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

vendor/
*.log
